USE [master]
GO
/****** Object:  Database [QL_NguoiDung]    Script Date: 4/8/2026 11:05:58 AM ******/
CREATE DATABASE [QL_NguoiDung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NguoiDung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_NguoiDung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NguoiDung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_NguoiDung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NguoiDung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NguoiDung]
GO
/****** Object:  Table [dbo].[BanCafe]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanCafe](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TenBan] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaCC] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[NgayLam] [date] NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenMon] [nvarchar](100) NULL,
	[GiaTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyCa]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyCa](
	[MaDK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[NgayDangKy] [date] NULL,
	[CaLam] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaBan] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[TongTien] [int] NULL,
	[NguoiBan] [nvarchar](50) NULL,
	[PhuongThuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoNguyenLieu]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoNguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNguyenLieu] [nvarchar](100) NULL,
	[SoLuongTon] [float] NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[GiaNhap] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[GiaTien] [int] NULL,
	[HinhAnh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucDon]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucDon](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NULL,
	[GiaTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/8/2026 11:05:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanCafe] ON 

INSERT [dbo].[BanCafe] ([MaBan], [TenBan], [TrangThai]) VALUES (1, N'Bàn 1', N'Trống')
INSERT [dbo].[BanCafe] ([MaBan], [TenBan], [TrangThai]) VALUES (2, N'Bàn 2', N'Trống')
INSERT [dbo].[BanCafe] ([MaBan], [TenBan], [TrangThai]) VALUES (3, N'Bàn 3', N'Trống')
SET IDENTITY_INSERT [dbo].[BanCafe] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaCC], [TenDangNhap], [NgayLam], [GioVao], [GioRa]) VALUES (1, N'admin', CAST(N'2026-04-07' AS Date), CAST(N'2026-04-07T19:54:36.453' AS DateTime), CAST(N'2026-04-07T19:54:44.340' AS DateTime))
INSERT [dbo].[ChamCong] ([MaCC], [TenDangNhap], [NgayLam], [GioVao], [GioRa]) VALUES (2, N'Dngx', CAST(N'2026-04-07' AS Date), CAST(N'2026-04-07T22:43:06.720' AS DateTime), CAST(N'2026-04-07T22:48:48.783' AS DateTime))
INSERT [dbo].[ChamCong] ([MaCC], [TenDangNhap], [NgayLam], [GioVao], [GioRa]) VALUES (3, N'admin', CAST(N'2026-04-08' AS Date), CAST(N'2026-04-08T10:29:53.310' AS DateTime), CAST(N'2026-04-08T10:36:09.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [TenMon], [GiaTien]) VALUES (1, 1, N'Bạc xỉu', 30000)
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [TenMon], [GiaTien]) VALUES (2, 1, N'Cà phê sữa', 25000)
INSERT [dbo].[ChiTietHoaDon] ([MaCT], [MaHD], [TenMon], [GiaTien]) VALUES (3, 2, N'Cà phê đen', 20000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKyCa] ON 

INSERT [dbo].[DangKyCa] ([MaDK], [TenDangNhap], [NgayDangKy], [CaLam], [TrangThai]) VALUES (1, N'ADMIN', CAST(N'2026-04-08' AS Date), N'Ca Chiều (14h-22h)', N'ĐÃ XẾP CA (DUYỆT)')
INSERT [dbo].[DangKyCa] ([MaDK], [TenDangNhap], [NgayDangKy], [CaLam], [TrangThai]) VALUES (2, N'ADMIN', CAST(N'2026-04-09' AS Date), N'Ca Tối (18h-22h)', N'ĐÃ XẾP CA (DUYỆT)')
INSERT [dbo].[DangKyCa] ([MaDK], [TenDangNhap], [NgayDangKy], [CaLam], [TrangThai]) VALUES (3, N'Duong', CAST(N'2026-04-08' AS Date), N'Ca Tối (18h-22h)', N'TỪ CHỐI')
SET IDENTITY_INSERT [dbo].[DangKyCa] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [ThoiGian], [TongTien], [NguoiBan], [PhuongThuc]) VALUES (1, 2, CAST(N'2026-03-30T14:33:51.840' AS DateTime), 40000, N'ADmin', NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [ThoiGian], [TongTien], [NguoiBan], [PhuongThuc]) VALUES (2, 5, CAST(N'2026-03-30T14:40:13.550' AS DateTime), 30000, N'Admin', NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [ThoiGian], [TongTien], [NguoiBan], [PhuongThuc]) VALUES (3, 10, CAST(N'2026-03-30T14:40:21.413' AS DateTime), 75000, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoNguyenLieu] ON 

INSERT [dbo].[KhoNguyenLieu] ([MaNL], [TenNguyenLieu], [SoLuongTon], [DonViTinh], [GiaNhap]) VALUES (1, N'Cà phê Robusta rang mộc', 15.5, N'Kg', 150000)
INSERT [dbo].[KhoNguyenLieu] ([MaNL], [TenNguyenLieu], [SoLuongTon], [DonViTinh], [GiaNhap]) VALUES (2, N'Sữa đặc Ngôi Sao Phương Nam', 40, N'Hộp', 25000)
INSERT [dbo].[KhoNguyenLieu] ([MaNL], [TenNguyenLieu], [SoLuongTon], [DonViTinh], [GiaNhap]) VALUES (3, N'Đường kính trắng', 14, N'Kg', 15000)
SET IDENTITY_INSERT [dbo].[KhoNguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([MaMon], [TenMon], [GiaTien], [HinhAnh]) VALUES (1, N'Cơm Sườn Nướng', 35000, N'com_suon.jpg')
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [GiaTien], [HinhAnh]) VALUES (2, N'Pizza Hải Sản', 120000, N'pizza.jpg')
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [GiaTien], [HinhAnh]) VALUES (3, N'Trà Sữa Trân Châu', 25000, N'tra_sua.jpg')
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[ThucDon] ON 

INSERT [dbo].[ThucDon] ([MaMon], [TenMon], [GiaTien]) VALUES (2, N'Cà phê sữa', 25000)
INSERT [dbo].[ThucDon] ([MaMon], [TenMon], [GiaTien]) VALUES (3, N'Bạc xỉu', 30000)
INSERT [dbo].[ThucDon] ([MaMon], [TenMon], [GiaTien]) VALUES (4, N'Sinh tố bơ', 40000)
SET IDENTITY_INSERT [dbo].[ThucDon] OFF
GO
INSERT [dbo].[User] ([Username], [Password], [Quyen]) VALUES (N'admin', N'123456', N'Quản lý')
INSERT [dbo].[User] ([Username], [Password], [Quyen]) VALUES (N'Dngx', N'210903', N'Quản lý')
INSERT [dbo].[User] ([Username], [Password], [Quyen]) VALUES (N'Duong', N'123456', NULL)
GO
ALTER TABLE [dbo].[BanCafe] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DangKyCa] ADD  DEFAULT (N'Chờ xếp ca') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Tiền mặt') FOR [PhuongThuc]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'Nhân viên') FOR [Quyen]
GO
USE [master]
GO
